
.success{
    color: green;
}

.danger{
    color: red;
}

.warning{
    color: orange;
}

.special{
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}