<h2>My First Angular Application</h2>

<!-- <app-employee></app-employee> -->
<!-- <app-stringinterpolation></app-stringinterpolation> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-style-binding></app-style-binding> -->
<!-- <app-classbinding></app-classbinding> -->
<!-- <app-eventbinding1></app-eventbinding1> -->
<!-- <app-eventbinding2></app-eventbinding2> -->
<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-twowaydatabinding></app-twowaydatabinding> -->
<!-- <app-fordirective></app-fordirective> -->
<!-- <app-switchdirective></app-switchdirective> -->
<!-- <app-parent></app-parent> -->
<!-- <app-parent2></app-parent2> -->
<!-- <app-tast1></app-tast1> -->
<!-- <app-inbuld-pipe></app-inbuld-pipe> -->
<!-- <app-custompipe></app-custompipe> -->
<!-- <app-post></app-post> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-home></app-home> -->
<app-demotdf></app-demotdf>